#menu
    el-menu(mode="horizontal", :default-active="activeIndex",@select="handleSelect",background-color="#545c64",text-color="#fff",
      active-text-color="#ffd04b")
        el-menu-item(index="1") メニュー１
        el-menu-item(index="2") メニュー２
        el-menu-item(index="3") メニュー３